body{
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right, rgba(182, 58, 58, 0.685), rgba(202, 144, 36, 0.733));
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

footer{
  position: fixed;
  left: 10px;
  bottom: 10px;
  color: white;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  text-align: left;
}
footer .send-button{
  margin-left: 7px;
  margin-top: 10px;
  align-items: center;
  width: 50px;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 7px;
}
.send-container{
  display: flex;
  flex-direction: column;
  background-color: rgb(1, 136, 255);
  padding: 15px;
  width: 250px;
  border-radius: 8px;
}
.send-container input {
  width: 100%;
  height: 50px;
  margin-bottom: 9px;
}

.send-container p{
  text-align: left;
}


.title-container{
  flex: 1;
  text-align: center;
  /* background-color: aqua; */
  padding-right: 10px;
}

#contact-button{
  margin-right: 20px;
  margin-left: 10px;
}

.logo-container{
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  gap: 10px;
  vertical-align: middle;
}

.github-logo, .link-logo{
  height: 30px;
  width: auto;
  transition: transform 0.2s;
}
.github-logo:hover, .link-logo:hover {
  transform: scale(1.1);
}
